* {
    margin: 0px;
    box-sizing: border-box;
}

body { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #E8DCB9;
    font-family: Roboto;
    text-align: center;
}

#mainContainer {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 100px 125px;
    background-color: #C3DBC5; 
    border: 2px solid #1c1d1b;
    border-radius: 8px;
}
#inner1 {
    color: aliceblue;
    font-weight: 900;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btns {
    padding: 1rem;
    background-color: #f7ef99;
    border-radius: 10px;
    font-size: 15.5px;
}

#title {
    color: #0D1B1E;
    position: relative;
    bottom: 70px;
}

#scoreboard {
    text-align: center;
    background-color: #7798AB;
    border: 2px solid #0D1B1E;
    border-radius: 10px;
    height: 150px;
    width: 250px;
    margin: 15px;
    position: relative;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#score {
    display: flex;
    flex-direction: row;
}
#inner2 {
    position: relative;
    bottom: 50px;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#footer div {
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 40px;
    width: 80%;
    background-color: #7798AB;
    border: 2px solid #0D1B1E;
    text-align: center;
    border-right: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#footer button {
    height: 40px;
    border-left: 0;
    background-color: #f7ef99;
    border: 2px solid #0D1B1E;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#rinfo {
    font-size: 25px;
}

#ginfo {
    font-weight: 900 !important;
    font-size: 18px !important; 
}